<%= form_tag "/comment", method: 'POST' do%>

    <label for="">Comment: </label><br>
    <textarea name="comment" id="" cols="70" rows="5"></textarea>
    <br>
    <br>
    <button>Submit</button>

<% end %>