<style>
    body {
        width: 680px;
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
    }

    .display-post {
        text-align: center;
    }
</style>
<div class="display-post">
    <img src="<%= @post.image %>" alt="">
    <br>
    <br>
    <span><%= @post.description %></span>
    <br>
    <br>
    <a href="/"><button class="btn btn-primary">Back To Homepage</button></a>
   
</div> 
<br>
<section class="comments">
    <a href="/comments/<%#= @post.id"><button>Add Your Comments</button></a> %>
</section>


<div class="display-comment"> 
    <span><%#= @comments.comment %></span>

</div>


